/* -------GENERAL------------------------ */
html, body {
    height: 100%;
    width: 100%;
    font-family:Arial, Helvetica, sans-serif
  }
#map {
    height: 100%;
}

#map1 { height: 100%; }
#map4 { height: 100%; }
#map5 { height: 100%; }
#map6 { height: 100%; }
#map7 { height: 100%; }
#map8 { height: 100%; }
#map10 { height: 100%; }
#map15 { height: 100%; }
#map16 { height: 100%; }
#map19 { height: 100%; }
#map20 { height: 100%; }
#map22 { height: 100%; }


@media screen and (max-width: 768px) {
#map1, #map4, #map5, #map6, #map7, #map8, #map10, #map15, #map16, #map19, #map20, #map22 { padding-top: 400px; }
}

@media screen and (max-width: 768px) {
  #col2 { padding-top: 30px; }
}

/* ------------BOOTSTRAP CUSTOMIZATION-------------------------- */
.accordion-item {
  border: none;
}

/* -------------MAPLIBRE-POPUP------------------------------------------------- */

.maplibregl-popup-close-button {
  display: None;
  }
.maplibregl-popup-content{
  border-radius: 10%;
  width: max-content;
  height: min-content;
}

/*------------ SIDEBAR----------------------------------- */
.rounded-rect {
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 50px -25px black;
}
.flex-center {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-center.left {
  left: 0px;
}
.flex-center.right {
  right: 0px;
}
.sidebar-content {
  position: absolute;
  width: 95%;
  height: 95%;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 28px;
}
.sidebar-toggle {
  position: absolute;
  width: 1.3em;
  height: 1.3em;
  overflow: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  border-style: solid;
  border-width: 1px;
}
.sidebar-toggle.left {
  right: -1.5em;
}
.sidebar-toggle.right {
  left: -1.5em;
}
.sidebar-toggle:hover {
  color: #0aa1cf;
  cursor: pointer;
}
.sidebar {
  transition: transform 1s;
  z-index: 3;
  width: 300px;
  height: 100%;
}
/*
The sidebar styling has them "expanded" by default, we use CSS transforms to push them offscreen
The toggleSidebar() function removes this class from the element in order to expand it.
*/
.left.collapsed {
  transform: translateX(-295px);
}
.right.collapsed {
  transform: translateX(295px);
}
#sidebar_arrow {
  font-size: 25px;
}

/* -------------LEGENDA------------- */
.legend {
  /* height: 550px; */
  height: 85%;
  width: 270px;
  background-color: #fff;
  font-size: 0.75rem;
  /* padding: 10px; */
  /* position: relative; */
  position: absolute;
  z-index: 1;
  /* overflow-y: scroll; */
}
.legend div span {
  border-radius: 0%;
  display: inline-block;
  height: 6px;
  margin-right: 5px;
  width: 50px;
  }
.legend div span.pend {
  border-radius: 0%;
  display: inline-block;
  height: 3px;
  margin-right: 5px;
  width: 50px;
  }
.legend h4{
  color: rgba(59, 61, 61, 0.721);
}
.legend a:link {
 color : rgba(0, 0, 0, 0.899);
 text-decoration: none
 }
 .legend a:visited {
  color : rgba(0, 0, 0, 0.899);
  text-decoration: none
  }
.legend a:hover {
  color : rgba(34, 21, 210, 0.899);
  text-decoration: none
  }
 
/* ---------POST-------------------------------------- */
.post {
  background: #fff;
  margin: 15px 0;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.post h2 {
  margin: 0 0 10px;
  font-size: 20px;
}
.post p {
  margin: 0 0 15px;
  color: #555;
}
.post button {
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 3px;
  cursor: pointer;
}
.my_list li:hover {
  color: #e30613;
  cursor: pointer;
}

.accordion-button {
  background-color: #e30613 !important;
  color: white !important;
}
.accordion-button:hover {
  background-color: white !important;
  color: #e30613 !important;
  outline: groove  !important;
  outline-color: #e30613 !important;
}
.accordion-button::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}
.accordion-button:hover::after {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23e30613'><path fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/></svg>") !important;
}

.red_out {
  outline: 1px solid  !important;
  outline-color: #e30613 !important;
}

/* --OTHER------- */
.just-text {
  text-align: justify;
  text-justify: inter-word;
}

.image-section {
  position: relative; /* Permette a figcaption di essere posizionata rispetto a questo contenitore */
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 5px;
}

.figcap {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 50%;
  background: rgba(0, 0, 0, 0.6); /* Sfondo trasparente per leggibilità */
  color: white;
  text-align: center;
  padding: 5px;
  font-size: 10px;
}
.logcap {
  position: absolute;
  bottom: 0;
  right: 0;
}
.maprel {
  position: relative;
}
.logcap2 {
  position: absolute;
  bottom: 0;
  right: 10px;
}
.w_logo_col{
  width: 90px;
}
@media screen and (max-width: 600px) {
  .w_logo_col{
    width: 60px;
  }
}

.nb {
  background-color: #f4b0ad5f;
}